@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

* {
    font-family: 'Manrope', sans-serif;
}

button {
    cursor: pointer;
    background-color: #4247D1;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 100px;
    transition: outline ease-in-out 100ms;
}
button:hover {
    outline: 2px solid white;
    outline-offset: 2px;
}